/* Add this to your CSS file or inline styles */
@media (max-width: 767px){
.sm\:container {
  width: 100%;
  min-height: 80vh;
  border-top-left-radius: 50%; 
  position: absolute;
  bottom: 0;
  overflow:auto;
}
.sm\:cont{
  width: 100%;
  min-height: 90vh;
  border-top-left-radius: 50%; 
  position: absolute;
  bottom: 0;
  overflow:auto;
}

.sm\:input-icon {
  position: relative;
}

.sm\:input-icon img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.sm\:input-icon input {
  padding-left: 40px;
}}
